{% extends 'nat/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{%  block content %}
    <h1>{{ article.title }}</h1>
    <pre>{{ article.description }}</pre>

<!-- SHARE BUTTONS -->
<div id="share-buttons">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{ article.link }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

      <!-- Twitter -->
    <a href="https://twitter.com/share?url={{ article.link }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{ article.link }}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>

</div>

{% endblock %}