{% extends 'nat/base.html' %}

{%  block content %}
    <link rel="stylesheet" type="text/css" href="../../static/nat/login.css">
    <div class="container">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="row">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#git"></use>
                    </g>
                  </svg>
                </div>
            </div>

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center" style="color: white">Login</div>
                </div>

                <div class="panel-body">

                    <form action="/logInUser/" id="form" class="form-horizontal" enctype="multipart/form-data" method="get">
                        <!-- Username -->
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color: white"></i></span>
                            <input id="user" type="text" class="form-control" name="username" value="" placeholder="User">
                        </div>
                        <!-- Password -->
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color: white"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i></button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

